/* Global Styles */

/* Variables CSS dynamiques injectées par le thème */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Conteneur général pour les blocs */
.block-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

/* Styles pour les labels des blocs */
.block-label {
  font-size: var(--label-font-size);
  margin-bottom: var(--label-margin-bottom);
  font-weight: var(--text-weight);
  color: var(--text-color);
}

.block-required {
  color: var(--required-color);
}

/* Blocs de drag-and-drop */
.block {
  width: var(--block-width);
  height: var(--block-height);
  border: 2px dashed var(--secondary-color);
  border-radius: var(--block-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--blockBackground);
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Icônes à l'intérieur des blocs */
.block-icon {
  font-size: 3rem;
  color: var(--icon-color);
  transition: transform 0.3s ease;
}

.block-icon.hovered {
  transform: scale(1.5);
}

/* Messages d'erreur */
.block-error {
  color: var(--error-color);
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}

/* Informations sur les fichiers dans les blocs */
.block-file-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: center;
  font-size: var(--file-info-font-size);
  line-height: var(--file-info-line-height);
  color: var(--text-color);
}

/* Boutons pour l'upload */
.browse-button {
  background-color: var(--upload-background-button-color);
  color: var(--upload-background-text-color);
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.browse-button:hover {
  background-color: var(--primary-color);
}

/* Styles pour les onglets */
.MuiTab-root {
  color: var(--inactive-tab-color);
}

.MuiTab-root.Mui-selected {
  color: var(--accent-color);
}

.MuiTabs-indicator {
  background-color: var(--accent-color);
}

.MuiTab-root:hover {
  color: var(--accent-color);
  cursor: pointer;
}

/* Styles pour les icônes de succès et d'erreur */
.check-icon {
  color: var(--success-color);
}

.close-icon {
  color: var(--error-color);
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-icon:hover {
  color: darkred;
}
